{% extends 'base.html'%}
{% load static %}

{% block content %}

<!-- Store items listing page -->
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Zootopia Store</h1>
		</div>
	</div>
</div>

<!-- Filters -->
<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Clothes' %}">
				<button class="btn filter-btn {% if '/products/category/Clothes' == request.path %} filter-active {% endif %}" aria-label="Filter Clothes" type="submit">Clothes</button>
			</form>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Mask' %}">
				<button class="btn filter-btn {% if '/products/category/Mask' == request.path %} filter-active {% endif %}" aria-label="Filter Mask" type="submit">Mask</button>
			</form>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Print' %}">
				<button class="btn filter-btn {% if '/products/category/Print' == request.path %} filter-active {% endif %}" aria-label="Filter Print" type="submit">Print</button>
			</form>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Toys' %}">
				<button class="btn filter-btn {% if '/products/category/Toys' == request.path %} filter-active {% endif %}" aria-label="Filter Toys" type="submit">Toys</button>
			</form>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Gifts' %}">
				<button class="btn filter-btn {% if '/products/category/Gifts' == request.path %} filter-active {% endif %}" aria-label="Filter Gifts" type="submit">Gifts</button>
			</form>
		</div>
		<div class="col-12 col-sm-6 col-md-4">
			<form action="{% url 'products_by_category' 'Misc' %}">
				<button class="btn filter-btn {% if '/products/category/Misc' == request.path %} filter-active {% endif %}" aria-label="Filter Misc" type="submit">Misc</button>
			</form>
		</div>
	</div>
</div>

<!-- All the items from the database list -->
<div class="container-fluid store-item">
	<div class="row">
    {% for product in products %}
		<div class="col-lg-4 col-md-4 col-sm-6 box">
			<img class="thumbnail" src="{{ product.imageURL }}">
			<div class="box-element store-product">
				<h6><strong>{{ product.product_name }}</strong></h6>
				<hr>
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>€{{ product.product_price }}</strong></h4>
			</div>
		</div>
    {% endfor %}
	</div>
</div>

{% endblock %}