{% load static %}

<!---------- Opening the footer ----------->
<footer class="container-fluid text-center footer-container">
    <div class="row">
        <a class="logo offset-md-4 mt-3" href="">
            <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="logo"/>
        </a>

        <div class="col-sm-12">
            <p>Tel 01234 56789 | Zootopia@example.com</p>
            <p class="footer-footer-text text-center">
                Full Stack Development with Django | Milestone Project | 2020 Emal Fiza
                <a href="https://github.com/emalfiza" target="_blank" rel="noopener">
                    <i class="fa fa-github fa-3x list-inline social-links"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
<!---------- End of the footer ------------>